* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  /* width: 100%;
  height: 100%; */
  font-family: Roboto, sans-serif;
}

header {
  width: 100vw;
  background-color: #fff;
  color: #fff;
  padding: 1rem 0;
}

.menu {
  display: none;
}

.menu i {
  font-size: 2.5rem;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header-container button {
  background-color: #0391d3;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

.logo {
  width: 100%;
  max-width: 4rem;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  margin-right: 0.5rem;
  color: #0391d3;
}

.location label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

.location select {
  background-color: transparent;
  border: none;
  color: #0391d3;
  font-size: 0.9rem;
  cursor: pointer;
}

.location p {
  line-height: 0.9rem;
  line-height: 1rem;
  color: #000;
}

.cell p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

/* Hero Section Style */

.hero-section {
  display: flex;
  width: 100vw;
  background-color: #f8f8f8;
}

.left-innersec {
  position: relative;
  padding-top: 5rem;
  width: 50vw;
  left: 7rem;
}

.left-innersec h2 {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.3rem;
  margin-bottom: 1.5rem;
}

.hero-p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 0px;
  margin-bottom: 3rem;
}

.left-innersec button {
  background-color: #0391d3;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  padding: 1.5rem 5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.star {
  font-size: 0.8rem;
  width: 20vw;
  text-align: center;
}

.left-innersec p:last-child {
  font-style: italic;
}

.right-innersec {
  position: relative;
  width: 50vw;
  background-color: #0391d3;
  border: none;
  border-top-left-radius: 80%;
}

.big-img {
  position: absolute;
  top: 10%; 
  right: 3%; 
  width: 70%; 
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.own-img {
  position: absolute;
  top: 68%; 
  left: 0; 
  width: 30%; 
  max-width: 100%;
  height: auto;
  z-index: 3;
}

.hero-mach-img {
  position: absolute;
  top: 37%; 
  left: 7%; 
  width: 30%; 
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.hero-nums {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 6rem 0 0 0;
}

.hero-num {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-right: 3rem;
  border-right: 2px solid #c7c7c738;
}

.hero-num h1 {
  font-size: 4rem;
  color: #0391d3;
  margin-right: 0.5rem;
}

.hero-num p{
  margin-right: 2rem;
}

/* Section 1 */

.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  width: 100vw;
  background-color: #fff;
  margin: 4rem 0;
}

.sec-1 h2 {
  margin-bottom: 2rem;
}

.container {
  width: 83vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 2px;
}

.big-image img {
  width: auto;
  height: 40vh;
  object-fit: cover;
}

.big-image {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
img {
  width: auto;
  height: 20vh;
  object-fit: cover;
}
.box {
  padding: 1.5rem 2rem;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box p {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1rem;
}

.btn2 {
  background-color: #0391d3;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  margin-left: 1rem;
}

.sec1-last {
  margin-top: 4rem;
}

/* Section 2 */

.sec-2 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;


}

.container2 {
  display: flex;
  background-color: #0391d3;
  width: 83vw;
  position: relative;
}

.left-sec2 {
  width: 50%;
  padding: 3rem 4rem;
}

.left-sec2 h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #fff;
}

.left-sec2 p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.right-sec2 {
  width: 50%;
  border: none;
  display: flex;
  position: relative;
}

.sec2-man {
  position: absolute;
  width: 50%;
  max-width: 100%;
  top: -12%;
  left: -15%;
  height: auto;
  z-index: 3;
}

.sec2-mach1 {
  position: absolute;
  width: 80%;
  max-width: 100%;
  height: auto;
  top: 6%;
  left: 2%;
}

.sec2-mach2 {
  position: absolute;
  width: 50%;
  height: auto;
  top: -5%;
  right: 0;
  left: 54%;

}

.overflow-hide {
  overflow: hidden;
}

.overflow-hide {
  position: relative;
  width: auto;
  height: auto;
  flex: 1;
}

.btn3 {
  background-color: #fa0000;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

/* Section 3  */

.sec-3 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0391d3;
  margin: 4rem 0;
  padding: 3rem 0;
}

.container-3 {
  flex-direction: column;
  overflow: hidden;
  width: 83vw;
  padding: 0;
  /* padding: 2rem; */
}

.sec3-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}

.sec3-heading h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}

.cards {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 330px;
  height: 230px;
  background-color: #fdf5f5;
  border: 1px solid #d3c9c9;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.card-p1 {
  color: #afafaf;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 0 3rem 1rem 0;
}

.card-p2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-img {
  position: relative;
  width: 330px;
  height: 230px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
}

.gaurd-img {
  position: absolute;
  width: 50%;
  max-width: 100%;
  height: auto;
  right: -20%;
  bottom: -1%;
  z-index: 5;
}

.card-text {
  text-align: left;
  z-index: 5;
}

.card-text h3 {
  color: #fff;
  z-index: 5;
}

.card-p3 {
  color: #fff;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text2 {
  padding: 2rem 0.5rem;
}

/* Section-4 */

.sec-4 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sec4-container {
  justify-content: center;
  align-items: center;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.big-react {
  position: relative;
  width: 363px;
  height: 260px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0391d370;
}

.small-react {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #0391d3;
  top: -50px;
  left: -10px;
  padding: 8px;
}

.small-react h1 {
  font-size: 1.2rem;
  color: #fff;
}
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card-content h1 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.card-content p {
  font-size: 0.9rem;
  color: #757575;
  padding-right: 2rem;
  line-height: 1.5rem;
}

.card-icon {
  width: auto;
  height: 3rem;
  margin-left: 2rem;
}

.sec4-heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0 7rem 0;
  width: 20vw;
}

/* Section 5 */

.sec-5 {
  width: 100vw;
  background: #0391d3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.container5 {
  display: flex;
  justify-content: space-evenly;
  background-color: #0391d3;
  width: 83vw;
  position: relative;
}

.left-sec5 {
  width: 50vw;
  padding: 4rem 8rem 4rem 0;
}

.left-sec5 h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}

.left-sec5 p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: #fff;
}

.right-sec5 {
  position: relative;
  width: 50vw;
  border: none;
  display: flex;
}

.sec5-man {
  position: absolute;
  width: 65%;
  max-width: 100%;
  top: -11%;
  height: auto;
  z-index: 3;
}

.sec5-mach2 {
  position: absolute;
  width: 54%;
  top: -5%;
  left: 52%;
  max-width: 100%;
  height: auto;

}

.sec5-mach1 {
  position: absolute;
  width: 70%;
  left: 10%;
  top: 4%;
  max-width: 100%;
  height: auto;
}

.btn5 {
  background-color: #fa0000;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

/* Section 6 */

.sec-6 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec6-heading {
  margin: 15rem 0 8rem 0;
}

.sec6-heading h1 {
  font-size: 2rem;
}

.sec4-container {
  margin: 0;
}

.circle-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-img img {
  border-radius: 50%;
  position: absolute;
  top: -200px;
  transform: translateX(-140%);
  object-fit: cover;
}

.sec6-cont {
  padding: 2rem 0 0 1rem;
}

.accordion {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Section 7 */

.sec7 {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #0391d3;
}

.sec7-heading {
  margin: 2rem 0;
}

#accordion {
  width: 80vw;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  column-gap: 2rem;
}

.left-accord {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-accord {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin: 1rem 1rem;
  background: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  overflow: hid;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: #333;
}
#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

/* Section 8 */

.sec8 {
  width: 100vw;
  height: 80vh;
  background-image: url(Images/map.png);
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sec8-card {
  width: 300px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
  text-align: start;
}

.sec8-card button {
  background-color: #0391d3;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

.sec8-card select {
  background-color: transparent;
  border: none;
  color: #0391d3;
  font-size: 0.9rem;
  cursor: pointer;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: #ffffff71;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 0.8rem;
  letter-spacing: 5px;
  font-weight: 600;
  color: #adadad;
}

/* Responsiveness */


/*XS Devices */

@media (max-width: 490px) {
  /* Header */

  .header-container {
    gap: 10rem;
  }

  .menu {
    display: block;
  }

  .location,
  .cell,
  .btn1 {
    display: none;
  }

  /* Hero Section */

  .hero-section {
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  .left-innersec {
    width: 100%;
    left: 0;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .right-innersec {
    width: 100%;
  }

  .star {
    width: 100%;
  }

  .right-innersec {
    border-top-left-radius: 100%;
  }
  .own-img,
  .hero-mach-img {
    display: none;
  }

  .big-img {
    position: relative;
    width: 90%;
    max-width: 100%;
    height: auto;
    left: 5%;
  }

  .header-container button {
    margin-top: 1rem;
  }

  .hero-nums {
    margin: 2rem 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .hero-num {
    text-align: center;
    margin-right: 0;
    position: relative;
    left: 0.5rem;
   
  }

  .hero-num h1 {
    font-size: 2rem;
    margin-right: 0.3rem;
  }

  .hero-num p{
    margin-right: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* Section 1 */

  .sec-1 {
    margin-bottom: 0;
  }

  .sec1-heading {
    margin-top: 1rem;
    padding: 0rem 2rem;
  }

  .sec1-last {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .btn2 {
    margin-top: 1rem;
  }

  /* Section 2 */

  .sec-2 {
    width: 100%;
    margin-top: 1rem;
  }

  .container2 {
    width: 83vw;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 2rem ;
  }
  .left-sec2 {
    width: 100%;
    padding: 2rem;
    position: relative;
  }

  .left-sec2 h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
  }
  
  .left-sec2 p {
    padding: 0 0.5rem;
  }
 
  .sec2-man {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    height: auto;
     z-index: 3; 
    
  }

  .sec2-mach1 {
    display: none;
  }

  .sec2-mach2 {
    display: none;
  }

  /* Section 3 */

  .sec-3 {
    margin-top: 2rem;
  }

  .container-3 {
    width: 83vw;
    padding: 0 2rem 1rem 2rem;
  }

  .sec-3 {
    height: auto;
    width: 100%;
  }

  .cards {
    justify-content: center;
    align-items: center;
    gap: 28px;
    
  }

  .card {
    width: 550px;
    height: 180px;
    text-align: center;
    padding: 1rem 0;
  }

  .sec3-heading {
    margin-top: 1.5rem;
    text-align: center;
  }

  .sec3-heading h2 {
    font-size: 1.5rem;
  }
  .gaurd-img {
    display: none;
  }
  .card-text {
    text-align: center;
  }

  .big-react {
    width: 310px;
  }

  .card h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-p1 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem 1rem 0;
  }

  .card-p2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .card-p3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-text2 {
    padding: 0;
    text-align: center;
  }

  /* Section 4 */

  .sec4-container {
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }

  .sec4-heading {
    margin: 1rem 0 5rem 0;
    width: auto;
  }

  /* Section 5 */

  .sec-5 {
    margin: 1rem 0 0 0;
    background-color: transparent;
  }

  .container5 {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 2rem;
    padding: 0 1rem 0 1rem;
  }

  .left-sec5 {
    width: 100%;
    padding: 2rem;
  }

  .right-sec5 {
    align-items: center;
    justify-content: center;
  }

  .sec5-man {
    margin-top: 2rem;
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .sec5-mach1 {
    display: none;
  }
  .sec5-mach2 {
    display: none;
  }

  /* Section 6 */

  .sec-6 {
    margin-top: 12rem;
  }

  .sec6-heading {
    margin: 15rem 0 3rem 0;
  }

  .sec6-container img {
    width: 70px;
    height: 70px;
  }

  .sec6-react {
    gap: 20px;
  }

  .circle-img img {
    border-radius: 50%;
    position: absolute;
    top: -110px;
    transform: translateX(-100%);
    object-fit: cover;
  }

  /* Section 7 */

  .sec7 {
    margin-top: 30rem;
  }

  #accordion {
    width: 83vw;
  }

  .left-accord {
    width: 100%;
  }

  .right-accord {
    display: none;
  }

  /* Section 8 */

  .sec8-card {
    align-items: center;
    justify-content: center;
    width: 250px;
  }
}

/* Small Devices */

@media (min-width: 491px) and (max-width: 768px) {
  .header-container {
    gap: 25rem;
  }

  .menu {
    display: block;
  }

  .location,
  .cell,
  .btn1 {
    display: none;
  }

  /* Hero Section */

  .hero-section {
    flex-wrap: wrap;
    width: 100vw;
  }
  .left-innersec {
    width: 100%;
    left: 0;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
  }

  .star {
    width: 100%;
  }

  .right-innersec {
    border-top-left-radius: 100%;
    width: 100%;
  }

  .big-img {
    position: relative;
    top: 10%; 
    right: 2%; 
    width: 70%; 
    float: right;
    max-width: 100%;
  }
  
  .own-img {
    position: absolute;
    top: 54%; 
    left: 2%;
    width: 40%; 
    max-width: 100%;
    height: auto;
  }
  
  .hero-mach-img {
    position: absolute;
    top: 25%; 
    width: 30%; 
    max-width: 100%;
    height: auto;
  }

  .header-container button {
    margin-top: 1rem;
  }
  .hero-nums {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-num {
    position: relative;
    padding-right: 0.5rem;
    left: 2rem;
    border-right: 2px solid #c7c7c738;
  }

  .hero-num h1 {
    font-size: 2rem;
    color: #0391d3;
    margin-right: 0.3rem;
  }

  .hero-num p{
    margin-right: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* Section 1 */

  .sec-1 {
    margin-bottom: 0;
  }

  .sec1-heading {
    margin-top: 1rem;
    padding: 0rem 2rem;
  }

  .sec1-last {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .btn2 {
    margin-top: 1rem;
  }

  /* Section 2 */

  .sec-2 {
    margin-top: 1rem;
  }

  .container2 {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }
  .left-sec2 {
    width: 80%;
    padding: 2rem;
  }

  .right-sec2 {
    align-items: center;
    justify-content: center;
  }

  .sec2-man {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    height: auto;
     z-index: 3; 
  }

  .sec2-mach1 {
    display: none;
  }
  .sec2-mach2 {
    display: none;
  }

  /* Section 3 */

  .sec-3 {
    margin-top: 2rem;
  }

  .container-3 {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
  }

  .sec-3 {
    height: auto;
    width: 100%;
  }

  .cards {
    justify-content: center;
    align-items: center;
    gap: 28px;
    /* margin-top: 2rem; */
  }

  .card {
    width: 550px;
    height: 180px;
    text-align: center;
    padding: 1rem 0;
  }

  .sec3-heading {
    margin-top: 2rem;
    text-align: center;
  }

  .sec3-heading h2 {
    font-size: 1.5rem;
  }
  .gaurd-img {
    display: none;
  }
  .card-text {
    text-align: center;
  }

  .big-react {
    width: 310px;
    /* gap: 70px; */
  }

  .card h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-p1 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem 1rem 1rem;
  }

  .card-p2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-p3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-text2 {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
  }

  /* Section 4 */

  .sec4-container {
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  .sec4-heading {
    margin: 1rem 0 5rem 0;
    width: auto;
  }

  /* Section 5 */

  .sec-5 {
    margin: 1rem;
    background-color: transparent;
  }

  .container5 {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 2rem;

  }

  .left-sec5 {
    width: 80%;
    padding: 2rem;
  }

  .right-sec5 {
    align-items: center;
    justify-content: center;
  }

  .sec5-man {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 3;
  }

  .sec5-mach1 {
    display: none;
  }
  .sec5-mach2 {
    display: none;
  }

  /* Section 6 */

  .sec-6 {
    margin-top: 12rem;
  }

  .sec6-heading {
    margin: 15rem 0 3rem 0;
  }

  .sec6-container img {
    width: 70px;
    height: 70px;
  }

  .sec6-react {
    gap: 20px;
  }

  .circle-img img {
    border-radius: 50%;
    position: absolute;
    top: -110px;
    transform: translateX(-100%);
    object-fit: cover;
  }

  /* Section 7 */

  .sec7 {
    margin-top: 20rem;
  }

  #accordion {
    width: 83vw;
  }

  .left-accord {
    width: 100%;
  }

  .right-accord {
    display: none;
  }

  /* Section 8 */

  .sec8-card {
    align-items: center;
    justify-content: center;
    width: 250px;
  }
}


/* Medium Devices */

@media (min-width: 769px) and (max-width: 1024px) {
  
    .header-container {
      gap: 25rem;
    }
  
    .menu {
      display: block;
    }
  
    .location,
    .cell,
    .btn1 {
      display: none;
    }
  
    /* Hero Section */
  
    .hero-section {
      flex-wrap: wrap;
      width: 100vw;
    }
    .left-innersec {
      width: 100%;
      left: 0;
      flex-direction: column;
      text-align: center;
      padding: 2rem 0;
    }
  
    .star {
      width: 100%;
    }
  
    .right-innersec {
      border-top-left-radius: 100%;
      width: 100%;
    }
  
    .big-img {
      position: relative;
      top: 10%; 
      right: 10%; 
      width: 50%; 
      float: right;
      max-width: 100%;
    }
    
    .own-img {
      position: absolute;
      top: 67%; 
      left: 18%;
      width: 20%; 
      max-width: 100%;
      height: auto;
    }
    
    .hero-mach-img {
      position: absolute;
      top: 35%; 
      left: 30%;
      width: 20%; 
      max-width: 100%;
      height: auto;
    }
  
  
  
    .header-container button {
      margin-top: 1rem;
    }
    .hero-nums {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4rem 0 0 0;
    }
  
    .hero-num {
      position: relative;
      padding-right: 0.5rem;
      left: 4rem;
      border-right: 2px solid #c7c7c738;
     
    }
  
    .hero-num h1 {
      font-size: 2rem;
      color: #0391d3;
      margin-right: 0.3rem;
    }


    .container {
      display: flex;
      flex-direction: column;
    }
  
    /* Section 1 */
  
    .sec-1 {
      margin-bottom: 0;
    }
  
    .sec1-heading {
      margin-top: 1rem;
      padding: 0rem 2rem;
    }
  
    .sec1-last {
      flex-direction: column;
      padding: 1rem 2rem;
    }
  
    .btn2 {
      margin-top: 1rem;
    }
  
    /* Section 2 */
  
    .sec-2 {
      margin-top: 1rem;
    }
  
    .container2 {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      margin: 2rem;
    }
    .left-sec2 {
      width: 80%;
      padding: 2rem;
    }
  
    .right-sec2 {
      align-items: center;
      justify-content: center;
    }
  
    .sec2-man {
      position: relative;
      right: 0;
      width: 100%;
      height: auto;
      margin-top: 2rem;
      height: auto;
       z-index: 3; 
    }

    .tab-img{
      display: none;
    } 

  
    /* Section 3 */
  
    .sec-3 {
      margin-top: 2rem;
    }
  
    .container-3 {
      width: 100%;
      padding: 0 2rem 1rem 2rem;
    }
  
    .sec-3 {
      height: auto;
      width: 100%;
    }
  
    .cards {
      justify-content: center;
      align-items: center;
      gap: 28px;
      /* margin-top: 2rem; */
    }
  
    .card {
      width: 550px;
      height: 180px;
      text-align: center;
      padding: 1rem 0;
    }
  
    .sec3-heading {
      margin-top: 2rem;
      text-align: center;
    }
  
    .sec3-heading h2 {
      font-size: 1.5rem;
    }
    .gaurd-img {
      display: none;
    }
    .card-text {
      text-align: center;
    }
  
    .big-react {
      width: 310px;
      /* gap: 70px; */
    }
  
    .card h3 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    .card-p1 {
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0 1rem 1rem 1rem;
    }
  
    .card-p2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    .card-p3 {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    .card-text2 {
      font-size: 1.2rem;
      padding: 0;
      text-align: center;
    }
  
    /* Section 4 */
  
    .sec4-container {
      gap: 1.7rem;
      justify-content: center;
      align-items: center;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
    }
  
    .sec4-heading {
      margin: 1rem 0 5rem 0;
      width: auto;
    }
  
    /* Section 5 */
  
    .sec-5 {
      margin: 1rem;
      background-color: transparent;
    }
  
    .container5 {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      margin: 2rem;
  
    }
  
    .left-sec5 {
      width: 100%;
      padding: 2rem;
    }
  
    .right-sec5 {
      align-items: center;
      justify-content: center;
    }
  
    .sec5-man {
      position: relative;
      width: 70%;
      max-width: 100%;
      height: auto;
      z-index: 3;
      margin-top: 2rem;
    }
  
    .sec5-mach1 {
      display: none;
    }
    .sec5-mach2 {
      display: none;
    }
  
    /* Section 6 */
  
    .sec-6 {
      margin-top: 12rem;
    }
  
    .sec6-heading {
      margin: 15rem 0 3rem 0;
    }
  
    .sec6-container img {
      width: 70px;
      height: 70px;
    }
  
    .sec6-react {
      gap: 20px;
    }
  
    .circle-img img {
      border-radius: 50%;
      position: absolute;
      top: -110px;
      transform: translateX(-100%);
      object-fit: cover;
    }
  
    /* Section 7 */
  
    .sec7 {
      margin-top: 20rem;
    }
  
    #accordion {
      width: 83vw;
    }
  
    .left-accord {
      width: 100%;
    }
  
    .right-accord {
      display: none;
    }
  
    /* Section 8 */
  
    .sec8-card {
      align-items: center;
      justify-content: center;
      width: 250px;
    }
  
}



